<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1 style="line-height: 1.5">Felicidades <%= @user.first_name %> una nueva oportunidad de trabajo ha sido registrada</h1>
    <p>Ingresa en la siguiente url para postularte: <a href="<%= @url %>"><%= @url %></a></p>
    <%= render "partials/footer" %>
  </body>
</html>
