<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1><%= @user.first_name %> tú calificación fue realizada por el cliente</h1>
    <p>Para conocerla ingresa en la siguiente url: <a href="<%= @url %>"><%= @url %></a></p>
    <p>Recuerda que para concluir con tú trabajo debes calificar al cliente</p>
    <%= render "partials/footer" %>
  </body>
</html>
