<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1>Hola, <%= @name %> quiere contactar con nosotros!</h1>
    <p>Correo: <%= @email %></p>
    <p>Número: <%= @cellphone %></p>
    <%= render "partials/footer" %>
  </body>
</html>
