<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="mail-header" style="text-align: center; background: #eeee; padding: 20px;">
      <%= image_tag("https://s3.amazonaws.com/noc-noc/logo/LogoNocNoc.png", alt: 'logo', width: '120')%>
    </div>
    <% if @user.class.name == "Customer" %>
      <p>Hola <%= @user.first_name%>!</p>

      <p>Solicitaste cambiar la contraseña en nuestra app, puedes cambiarla en el link debajo:</p>

      <p><a href="<%= @url %>">Cambiar mi contraseña</a></p>

      <p>Si tu no solicitaste esto, por favor ignora este correo.<br>
      Tu contraseña no cambiara si no lo autorizas en el link de arriba.</p>
      <%= render "partials/hero" %>
    <% elsif @user.class.name == "Agent" %>
      <p>Hola <%= @user.first_name%>!</p>

      <p>¿Solicitaste el cambio de tú contraseña en nuestra app?</p>

      <p>Para realizar el cambio ingresa en el siguiente link: <a href="<%= @url %>">Cambiar mi contraseña</a></p>

      <p>Si tú no lo solicitaste, por favor ignora este mensaje</p>
    <% end %>
    <%= render "partials/footer" %>
  </body>
</html>
