<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="mail-header" style="text-align: center; background: #eeee; padding: 20px;">
      <%= image_tag("https://s3.amazonaws.com/noc-noc/logo/LogoNocNoc.png", alt: 'logo', width: '120')%>
    </div>
    <h1>¡Felicidades <%= @user.first_name%> tú trabajo se ha completado exitosamente!</h1>
    <p>Ingresa en la siguiente url para verlo: <a href="<%= @url %>"><%= @url %></a></p>
    <p>Te recomendamos calificar al agente si aún no lo hiciste</p>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>
