<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="mail-header" style="text-align: center; background: #eeee; padding: 20px;">
      <%= image_tag("https://s3.amazonaws.com/noc-noc/logo/LogoNocNoc.png", alt: 'logo', width: '120')%>
    </div>
    <h1>¡Felicitaciones <%= @user.first_name %>! Por tú magnifico servicio un nuevo trabajo se creó automáticamente</h1>
    <p>Para conocerlo da click aqui: <a href="<%= @url %>"><%= @url %></a></p>
    <p>Si deseas cancelar el trabajo y que no se generen otros, da click aqui: <a href="<%= @url_cancel %>">Cancelar trabajo</a></p>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>
