<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1 style="line-height: 1.5"><%= @user.first_name %> Recibiste una postulación de un agente para el trabajo creado.</h1>
    <p>Para conocerla da click aqui: <a href="<%= @url %>"><%= @url %></a></p>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>
