<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1 style="line-height: 1.5; font-size: 18px">Hola <%= @user.first_name %> gracias por usar los servicios de NocNoc</h1>

    <div>
      <p>Este es tu recibo</p>

      <p>Identificador de la transacci贸n: <%= @payment.transaction_identifier %> </p>
      <p>C贸digo de autorizaci贸n: <%= @payment.authorization_code %></p>
      <p>Costo de cancelaci贸n: <%= @payment.amount %></p>

      <p>Muchas gracias por nuestros servicios.</p>
    </div>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>
