<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1 style="line-height: 1.5; font-size: 18px">¿<%= @user.first_name %> olvidaste tú contraseña?</h1>
    <p>¡No te preocupes! Ingresa el pin que llegará a tú correo electrónico o teléfono celular para recuperarla: <%= @pin %> </p>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>
