<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="mail-header" style="text-align: center; background: #eeee; padding: 20px;">
      <%= image_tag("https://s3.amazonaws.com/noc-noc/logo/LogoNocNoc.png", alt: 'logo', width: '120')%>
    </div>
    <h1>Has creado un trabajo</h1>
    <div>
      <p>Recibo</p>
      <ul>
        <li><%= @service_base_name %> <%= @service_base_price %></li>
        <% @services_addon.each do |j|%>
          <li><%= j.service.name %> <%= j.price_total %></li>
        <% end %>
        <li>IVA: <%= @iva %></li>
        <li>Total: <%= @total %></li>
      </ul>
    </div>
    <p>Para ver mas detalles sobre el trabajo en este link: <a href="<%= @url %>"><%= @url %></a></p>
    <br>
    <p><strong>Saludos,</strong></p>
    <p><strong>Noc Noc</strong></p>
    <%= image_tag("https://s3.amazonaws.com/noc-noc/logo/LogoNocNoc.png", width: '120')%>
    <div class="mail-footer" style="background: #0069a7; height: 100px;"></div>
  </body>
</html>
