<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="mail-header" style="text-align: center; background: #eeee; padding: 20px;">
      <%= image_tag("https://s3.amazonaws.com/noc-noc/logo/LogoNocNoc.png", alt: 'logo', width: '120')%>
    </div>
    <h1><%= @user.first_name %> te informamos que creaste un nuevo trabajo</h1>
    <div>
      <p>Recibo</p>
      <ul>
        <li><%= @service_base_name %> <%= @service_base_price %></li>
        <% @services_addon.each do |j|%>
          <li><%= j.service.name %> <%= j.price_total %></li>
        <% end %>
        <li>IVA: <%= @iva %></li>
        <li>Total: <%= @total %></li>
      </ul>
    </div>
    <p>En el siguiente url podrás encontrarlo: <a href="<%= @url %>"><%= @url %></a></p>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>
