<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1 style="line-height: 1.5">Hola <%= @user.first_name %> haz recibido una calificación.</h1>
    <p>Ingresa en la siguiente url para verla: <a href="<%= @url %>"><%= @url %></a></p>
    <p>Te recomendamos calificar a nuestro profesional si aún no lo hiciste.</p>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>
