<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1>Jose te informamos que creaste un nuevo trabajo</h1>
    <div>
      <p>Recibo</p>
      <table width="100%">
        <tr>
          <td><b>Servicio Base</b></td>
          <td align="right"><b>Precio</b></td>
        </tr>
        <tr>
          <td><%= @service_base_name %></td>
          <td align="right">$ <%= @service_base_price %></td>
        </tr>
        <tr>
          <td colspan="2"><b>Servicios Principales</b></td>
        </tr>
        <% @services_params.each do |j|%>
          <tr>
            <td><%= j.service.name %></td>
            <td align="right">$ <%= j.price_total %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2"><hr/></td>
        </tr>
        <tr>
          <td colspan="2"><b>Servicios Adicionales</b></td>
        </tr>
        <% @services_addon.each do |j|%>
          <tr>
            <td><%= j.service.name %></td>
            <td align="right">$ <%= j.price_total %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2"><hr/></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td align="right"><h4>IVA: <b>$ <%= @iva %></b></h4></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td align="right"><h4>Total: <b>$ <%= @total %></b></h4></td>
        </tr>
      </table>
    
    </div>
    <p>En el siguiente url podrás encontrarlo: <a href="<%= @url %>"><%= @url %></a></p>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>