<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1 style="line-height: 1.5; font-size: 18px">Hola <%= @user.first_name %> gracias por usar los servicios de NocNoc</h1>

    <div>
      <p>Este es tu recibo</p>
      <table width="100%">
        <tr>
          <td><b>Servicio Base</b></td>
          <td align="right"><b>Precio</b></td>
        </tr>
        <tr>
          <td><%= @service_base_name %></td>
          <td align="right">$ <%= @service_base_price %></td>
        </tr>
        <tr>
          <td colspan="2"><b>Servicios Principales</b></td>
        </tr>
        <% @services_params.each do |j|%>
          <tr>
            <td><%= j.service.name %></td>
            <td align="right">$ <%= j.price_total %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2"><hr/></td>
        </tr>
        <tr>
          <td colspan="2"><b>Servicios Adicionales</b></td>
        </tr>
        <% @services_addon.each do |j|%>
          <tr>
            <td><%= j.service.name %></td>
            <td align="right">$ <%= j.price_total %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2"><hr/></td>
        </tr>
        <%if @job.is_holiday?(@job.started_at) %>
          <tr>
            <td><b>Recargo fin de semana o feriados</b></td>
            <td align="right"><b>$ <%= (@extra)  %></b></td>
          </tr>
        <% end %>
        <tr>
          <td>&nbsp;</td>
          <td align="right"><h4>IVA: <b>$ <%= @iva %></b></h4></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td align="right"><h4>Total: <b>$ <%= @total %></b></h4></td>
        </tr>
      </table>
      <p>Identificador de la transacción: <%= @payment.transaction_identifier %> </p>
      <p>Código de autorización: <%= @payment.authorization_code %></p>

      <p>Muchas gracias por nuestros servicios.</p>
    </div>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>
