<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1 style="line-height: 1.5; font-size: 18px">¡Felicidades <%= @user.first_name%> tú trabajo se ha completado exitosamente!</h1>
    <p>Ingresa en la siguiente url para verlo: <a href="<%= @url %>"><%= @url %></a></p>
    <p>Te recomendamos calificar al agente si aún no lo hiciste</p>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>
