<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1 style="line-height: 1.5">Hola <%= @user.first_name %> un trabajo a terminado.</h1>
    <p>Por favor no olvides calificarlo en la siguiente url: <a href="<%= @url %>"><%= @url %></a></p>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>